* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Roboto', sans-serif;
color: #33475b;
}

.white.text {
  color: white
}

.navbar,
.header.main {
  padding: 0 12vw;
}

.navbar {
  width: 100%;
  height: 85px;
}

.navbar a {
  line-height: 85px;
  text-decoration: none;
  font-weight: bold;
}

.first.navbar {
  background-color: #F5F8FA;
}

.first.navbar::after {
  content: "";
  display: table;
  clear: both;
}

.first.navbar .left a,
.second.navbar .right a {
  color: #32495b;
}

.header .buttons {
  display: inline;
}

.header .right.buttons {
  float: right;
}

#login {
  color: #fe775a;
  background-color: #fafcfe;
  padding: 10px 10px;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

.orange.button {
  color: white;
  background-color: #fe775a;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.second.navbar {
  background-color: #FFF;
}

.second.navbar .left img {
  height: 35px;
  margin: 23px 0;
}

header hr {
  border: 1px solid #32495B;
}

.header.main {
  height: 610px;
  background-color: #fff4ef;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.header.title-box {
width: 40%;
height: 60%;
padding-top: 5%;
}

.header.main h1 {
  font-size: 50px;
  margin-bottom: 5%;
  font-weight: 600;
}

.header.main p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10%;
}

.header.title-box .orange.button {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 25px 50px;
}

.header h5 {
  margin-top: 60px;
  font-weight: normal;
}

header .thick-hr {
  border: 2px solid #32495B;
}

.header.bottom {
  background-color: #afebe4;
  height: 85px;
}

.main.top {
  background-color: #f4f9fd;
  height: 1600px;
}

.main.top li {
  background-image: url(../img/Orange_Checkmark.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 30px;
}

.cube.section {
  height: 25%;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.cube.section h2 {
margin-top: 20px;
font-size: 30px;
}

.cube.section p {
  margin-top: 30px;
  line-height: 30px;
}

.crm.section {
  height: 23%;
  margin: 1% 12vw;
  box-shadow: 0 0 4px #CCCCCC;
  background-color: white;
}

.crm-img {
  width: 20%;
  height: 70%;
  float: left;
  margin: 50px 50px 50px 80px;
  text-align: center;
}

.crm img {
  margin: 15px auto 30px;
}

.learn.orange.button {
  /* margin: 20px 30px; */
  padding: 20px 36px;
  display: inline-block;
}

.crm-testo {
  float: left;
  width: 55%;
  height: 70%;
  margin-top: 55px;
}

.crm-testo h3 {
  font-size: 30px;
  margin: 25px 0 35px;
}

.crm-testo #crm-p {
  line-height: 28px;
}

.crm li {
  display: inline-block;
  list-style: circle;
}

.pop-feat {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  display: inline-block;
  vertical-align: middle;
}

.crm-testo hr {
  display: inline-block;
  width: 60%;
  margin-left: 80px;
}

.middle-columns {
  height: 45%;
  margin: 47px 12vw;
}

.hub {
  float: left;
  height: 100%;
  width: 30%;
  box-shadow: 0 0 4px #CCCCCC;
  background-color: white;
  text-align: center;
}

.hub img {
  margin: 20px auto 10px;
}

.hub h3 {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 30px;
}

.hub p {
line-height: 28px;
margin: 0 28px;
}

.hub hr {
  margin: 70px 35px 20px;
}

.sales.hub {
  margin: 0 5%;
}

.hub ul {
  list-style:none;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  text-transform: capitalize;
  margin: 10px auto 70px;
}

.main.middle {
  position: relative;
  background-color: #00aab7;
  height: 755px;
}

.main.middle.container {
  position: absolute;
  height: 75%;
  width: 76%;
  background-color: lightgreen;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  text-align: center;
}

.main.middle.container h2 {
  font-size: 42px;
  margin-bottom: 35px;
}

.main.middle.container p {
  font-size: 19px;
  line-height: 25px;
}

.main.bottom {
  background-color: #FFF;
  height: 755px;
}

footer {
  background-color: #32495b;
  height: 660px;
}
