* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.first.navbar::after,
.header.second.navbar::after,
.crm.section::after,
.main.top::after,
.main-middle.first-row::after,
.main-middle.second-row::after,
.main-bottom-top::after,
.main-bottom-bottom::after,
footer-top::after {
  content: "";
  display: table;
  clear: both;
}

body {
font-family: 'Roboto', sans-serif;
color: #33475b;
}

.white.text {
  color: white
}

.navbar,
.header.main {
  padding: 0 12vw;
}

.navbar {
  width: 100%;
  /* height: 85px; */
}

.navbar a {
  line-height: 85px;
  text-decoration: none;
}

.first.navbar {
  background-color: #F5F8FA;
}

.first.navbar .left a,
.second.navbar .right a {
  margin-left: 20px;
  color: #32495b;
}


.left.buttons a:first-child {
  margin-left: 0;
}

.left.buttons .fa-angle-down {
  padding: 0 18px 0 0;
  border-right: 1px solid black;
}

.header .buttons {
  display: inline;
}

.header .right.buttons {
  float: right;
}

.header .right.buttons a {
  margin-left: 25px;
}

.header .right.buttons .fa-search {
  color: #00a4bd;
}

#login {
  color: #fe775a;
  background-color: #fafcfe;
  padding: 10px 10px;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

.orange.button {
  color: white;
  background-color: #fe775a;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.second.navbar {
  background-color: #FFF;
}

.second .left.logo {
  height: 85px;
  width: auto;
  float: left;
}
.second.navbar .left img {
  height: 35px;
  margin: 23px 0;
}

.fa-angle-down {
  margin-left: 15px;
}

header hr {
  border: 1px solid #32495B;
}

.header.main {
  min-height: 610px;
  background-color: #fff4ef;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.header.title-box {
  width: 40%;
  height: 60%;
  padding-top: 5%;
}

.header.main h1 {
  font-size: 50px;
  margin-bottom: 5%;
  font-weight: 600;
}

.header.main p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10%;
}

.big.orange.button {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 25px 50px;
}

.header h5 {
  margin-top: 60px;
  font-weight: normal;
}

header .thick-hr {
  border: 2px solid #32495B;
}

.header.bottom {
  background-color: #afebe4;
  height: 85px;
}

.main.top {
  background-color: #f4f9fd;
  width: auto;
  min-height: 1600px;
}

.main.top li {
  background-image: url(../img/Orange_Checkmark.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 30px;
}

.cube.section {
  height: 25%;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.cube.section h2 {
margin-top: 20px;
font-size: 30px;
}

.cube.section p {
  margin-top: 30px;
  line-height: 30px;
}

.crm.section {
  min-height: 360px;
  margin: 1% 12vw;
  box-shadow: 0 0 4px #CCCCCC;
  background-color: white;
}

.crm-img-box {
  width: 20%;
  height: 70%;
  float: left;
  margin: 60px 50px 50px 80px;
  text-align: center;
}

.crm img {
  margin: 0 auto 30px;
}

.learn.orange.button {
  /* margin: 20px 30px; */
  padding: 20px 36px;
  display: inline-block;
}

.crm-testo {
  float: left;
  width: 55%;
  height: 70%;
  margin-top: 40px;
}

.crm-testo h3 {
  font-size: 30px;
  margin: 25px 0 35px;
}

.crm-testo #crm-p {
  line-height: 28px;
}

.crm li {
  display: inline-block;
  margin-right: 20px;
}

.pop-feat {
  font-size: 20px;
  text-transform: uppercase;
  margin: 30px 0;
  display: inline-block;
  vertical-align: middle;
}

.crm-testo hr {
  display: inline-block;
  width: 60%;
  margin-left: 80px;
}

.middle-columns {
  height: 45%;
  margin: 47px 12vw;
}

.hub {
  float: left;
  min-height: 800px;
  width: 30%;
  box-shadow: 0 0 4px #CCCCCC;
  background-color: white;
  text-align: center;
  margin-bottom: 60px;
}

.hub img {
  margin: 20px auto 10px;
}

.hub h3 {
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 30px;
}

.hub p {
  font-size: 20px;
  line-height: 28px;
  margin: 0 28px;
}

.hub hr {
  margin: 90px 40px 30px;
}

.sales.hub {
  margin: 0 5%;
}

.hub ul {
  list-style:none;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  text-transform: capitalize;
  margin: 10px auto 70px;
}

.main.middle {
  position: relative;
  background-color: #00aab7;
  min-height: 755px;
}

.main-middle.container {
  height: 75%;
  width: 76%;
  margin: auto;
  padding-top: 70px;
  text-align: center;
}

.main-middle.container h2 {
  font-size: 42px;
  margin-bottom: 35px;
}

.main-middle.container h3 {
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 50px;
  font-weight: 400;
}

.main-middle.first-row {
border-bottom: 1px solid white;
}

.main-middle > div {
  width: 25%;
  height: 170px;
  float: left;
  /* background-color: blue; */
  display: inline-block;
  border-right: 1px solid white;
}

.main-middle > div:last-child {
  border-right: none;
}

.main-middle img {
  padding-top: 20px;
  display: block;
  margin: 0 auto 18px;
}

.main-middle .middle-number {
font-weight: bold;
font-size: 40px;
margin-bottom: 12px;
}

.main-middle .middle-comment {
font-size: 13px;
}

.main.bottom {
  background-color: #FFF;
  min-height: 755px;
  margin: 0 12vw;
}

.main.bottom > div {
  margin: 70px 0;
}

.main-bottom-top {
  min-height: 180px;
  width: 90%;
}

.main-bottom-top-left {
  float: left;
  width: 32%;
  padding: 0 80px;
}

.main-bottom-top-left h2 {
  font-size: 50px;
  margin-bottom: 40px;
}

.main-bottom-top-left P {
  line-height: 28px;
}

.main-bottom-top-right {
  float: right;
  width: 60%;
}

.main-bottom-top-right .logo {
  width: 24%;
  height: 70px;
  display: inline-block;
  vertical-align: text-bottom;
}

.main-bottom-top-right img {
  width: 80%;
  padding: 30px 0;
}

.main-bottom-bottom{
  min-height: 400px;
}

#atlassian,
#doordash,
#wmware {
  margin-top: 12px;
}

#subaru {
  margin-top: 6px;
}

#wistia {
  margin-top: 15px;
}

.main-bottom-bottom-left-container {
  width: 35%;
}

.main-bottom-bottom h2 {
  font-size: 36px;
  padding: 40px 0 40px;
}

.main-bottom-bottom p {
  padding-bottom: 70px;
  line-height: 28px;
}

.main-bottom-bottom h5 {
  font-weight: 400;
  padding-top: 80px;
}

.main-bottom-bottom img {
  float: right;
  width: 28%;
}

footer {
  background-color: #32495b;
  min-height: 660px;
  padding: 40px 0 30px;
}

.footer-top {
  min-height: 360px;
  margin: 0 12vw;
}

.footer-top > div {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
}

.footer-top ul {
  list-style: none;
}

.footer-top ul li {
  line-height: 40px;
  text-transform: capitalize;
}

.footer-top h5 {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-top li a {
  text-decoration: none;
  color: #cbd6e2;
}

#support-button {
  padding: 13px 0;
}

#support-button a {
  background-color: #dadee0;
  border: 1px solid white;
  border-radius: 7px;
  padding: 12px 10px;
  color: #32495b;
}

.footer-top .fab {
  margin-right: 25px;
}

.footer-top .fab:hover {
  color: #7fd1de;
}

.footer-bottom {
  min-height: 200px;
  margin: 80px 12vw 0;
  background-color: lightblue;
}
